<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<!-- Barre de navigation en haut de l'écran. -->
<app-navbar></app-navbar>

<!-- Contenu principal. -->
<div class="container">
    <app-notifications></app-notifications>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <!-- Formulaire de connexion. -->
            <!-- <div class="card">
                <div class="card-header">
                    <h1>Se connecter</h1>
                </div>
                <div class="card-body">
                    <form action="/login" method="post">
                        <p>Les champs obligatoires sont précédés d'une étoile *</p>
                        <div class="form-group">
                            <label for="txtUsername">Identifiant *</label>
                            <input id="txtUsername" name="txtUsername" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="txtPassword">Mot de passe *</label>
                            <input id="txtPassword" name="txtPassword" type="password" class="form-control">
                        </div>
                        <div class="clearfix text-center">
                            <button class="btn btn-primary">Se connecter</button>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <div class="text-center">
                        Nouveau utilisateur?&nbsp;
                        <a href="https://pedago.univ-avignon.fr/~fredouil/register_jeu.php" class="card-link">Créer
                            un compte</a>
                    </div>
                </div>
            </div> -->
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->



<router-outlet></router-outlet>